
@media screen and (max-width:768px) {
    main {
        overflow-y: hidden;
    }
    /* START NAV */

    #top {
        flex-direction: column;
    }

    .nav-top {
        width: 98%;
        margin-bottom: 10px;
        justify-content: center;
       
    }

    .nav-top img {
        display: flex;
        justify-content: center;
        width: 30%;
        margin-left: 30px;
    }

    .nav-top-container {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 98%;
        position: relative;
        justify-content: center;
        border-bottom: 3px solid #d4d4d4;
    }

    .nav-top-container ul {
        box-sizing: border-box;
        padding: 0;
     
    }

    .nav-top-container a {
        font-size: 18px;
        box-sizing: border-box;
        margin-right: 25px;
        padding-bottom: 13.1px;
    }

    .nav-top-container a:hover {
        color: #0065FC;
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }



    


    /* START RECHERCHE */

    .recherche-title {
        width: 100%;
    }

    .resposive-btn {
        display: inline-block;
        width:40px;
        height: 35px;
        position: absolute;
        right: 0;
        margin-left: 2px;
        background: #0065FC;
        border: none;
        color: white;
        font-weight: 700;
        border-radius: 10px 10px 10px 10px;
        
    }
    .recherche-boxer .recherche-input {
        width: calc(100% - 20%);
    }

    .normal-btn {
        display: none;
    }

    .recherche-boxer{
        margin-left: 6px;
    }





    /* START ACTIVITE */
   
    #activite h2:nth-child(1) {
        display: flex;

        justify-content: center;
        width: 100%;
        margin: auto;
    }
    .activite-container {
        flex-direction: column;
        overflow-y: hidden;
       
   
    }

    .box-one, .box-four , .box-three , .box-two{
        width: 80%;
        margin: 20px auto;
        height: 216px;
       
    }

    .box-one img {
        height: 166px;
        object-fit: cover;
    }

    .box-four img{
            height: 166px;
            object-fit: cover;
    }

    .box-four {
        margin: 10px auto;
        
    }

    .box-container {
        width: 98%;
        margin: 0;
      
    }

    .box-three  img{
        height: 140px;
        margin: 0;
        padding: 0;
    }

    .box-three {
        height: 190px;
    }

    .noflex {
        display: flex;
    }

    


    /* START FILTRES */

    .ft-container {
         width: 100%;
         flex-direction: column;
    }

    .fl-flex {
        margin-bottom: 20px;
    }
    
    /* START HEBERGEMENTS */
    .aside {
        width: 40%;
    }

    .boxers-one > div{

        max-width: 89%;
    }
    .img-one , .img-two , .img-three{
        margin: 25px auto;
        min-width: 50%;
        
    }

    .boxers-one img {
        max-width: 100%;
    }

    /* START FOOTER */
    footer a {
        font-size: 8pt;
        word-break: break-all;
    }
  

   



}


@media screen and (max-width:690px){

        .top-article {
            flex-direction: column-reverse;
        } 
        .article-heberge {
            width: 100%;
            margin: 20px auto;
            background-color: white;
            flex-direction: column;
        }

        .aside {
            width: 95%;
            margin: auto;
        }

        .img-two , .img-one , .img-three{
          margin: 20px auto;
           max-width: 98%;
        }

        .boxers-one {
            max-width: 98%;
            flex-direction: column;

        }

        .boxers-one > div {
            max-width: 80%;
            margin: 10px auto;
        }

        .boxers-one img {
            max-width: 100%;
        }


        .boxers-one > div {
            box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
            -webkit-box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
            -moz-box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
        }

        
}


/* TABLETE  */

@media screen and (max-width:900px) {
        box-container {
            display: flex;
        }
}