@media screen and (max-width:768px) {

    main {
        overflow-y: hidden;
    }
    /* START NAV */

    #top {
        flex-direction: column;
    }

    .nav-top {
        width: 98%;
        margin-bottom: 10px;
        justify-content: center;
       
    }

    .nav-top img {
        display: flex;
        justify-content: center;
        width: 30%;
        margin-left: 60px;
    }

    .nav-top-container {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 98%;
        position: relative;
        justify-content: center;
        border-bottom: 3px solid #d4d4d4;
    }

    .nav-top-container ul {
        box-sizing: border-box;
        padding: 0;
     
    }

    .nav-top-container a {
        font-size: 18px;
        box-sizing: border-box;
        margin-right: 25px;
        padding-bottom: 13.1px;
    }

    .big {
        border-top: none;
        border-bottom: 4.5px solid #0065FC;;
        color: #0065FC;
    }
    .recherches {
        margin-top: 20px;
    }


    /* START RECHERCHE */
    .container-recherche  {
        margin-top: 10px;
        justify-content: center;
        width: 100%;
    }

    .container-recherche h1 {
        margin: auto;
        width: 100%;
        font-size: 16pt;
    }
    .container-recherche p {
        font-size: 15px;
    }
    .recherches {
        border: 1px solid black;
    }




    

    
    /* START HEBERGEMENTS */
    .aside {
        width: 40%;
    }

    .boxers-one > div{

        max-width: 89%;
    }
    .img-one , .img-two , .img-three{
        max-width: auto;
        margin: 25px auto;
        min-width: 50%;
        
    }
    .boxers-one {
        max-width: auto;
    }
    .boxers-one img {
        max-width: 100%;
    }

    /* START FOOTER */
    footer a {
        font-size: 8pt;
        word-break: break-all;
    }
  
    .filtres {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        word-break: break-all;
    }
   



}


@media screen and (max-width:690px){

        .top-article {
            flex-direction: column-reverse;
        } 
        .article-heberge {
            width: 100%;
            margin: 20px auto;
            background-color: white;
            flex-direction: column;
        }

        .aside {
            width: 95%;
            margin: auto;
        }

        .img-two , .img-one , .img-three{
          margin: 20px auto;
           max-width: 98%;
        }

        .boxers-one {
            max-width: 98%;
            flex-direction: column;

        }

        .boxers-one > div {
            max-width: 80%;
            margin: 10px auto;
        }

        .boxers-one img {
            max-width: 100%;
        }


        .boxers-one > div {
            box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
            -webkit-box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
            -moz-box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
        }

        
}