@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
/* ****************START HEADER**************** */

#top {
    width: 98%;
    display: flex;
    max-width: 992px;
    margin: auto;
    flex-direction: row;
}

.nav-top {
    width: 50%;
    display: flex;

}

.nav-top img {
    width:25%;
}


.nav-top-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.nav-top-container ul {
    display: flex;
    list-style: none;
    align-items: center;
}


.nav-top-container a {
    padding: 20px;
    padding-top: 17px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    z-index: 1;
    position: relative;
    color: black;
}
.nav-top-container a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}






/* ****************START RECHERCHE**************** */

#recherche {
    width: 98%;
    max-width: 992px;
    margin: auto;

}

.recherche-title {
    width: 98%;
    max-width: 992px;

}


.recherche-container h1 {
    margin-left: 8px;
     font-size: 18px;
}

.recherche-container p {
   margin-left: 8px;
   font-size: 13px;
   color: #5c5c5c;
}

.resposive-btn {
    display: none;
}

.recherche-article {
    width: 100%;
    max-width: 992px;
    margin: auto;
    display: flex;
    position: relative;
    float: left;

}

.recherche-boxer {
    width: 100%;
    max-width: 324px;
    height: 37px;
    position: relative;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 10px 10px 10px 10px;
    box-sizing: border-box;
}
.recherche-boxer .fa-map-marker-alt {
    height: 15px;
    width: 15px;
    font-size: 20px;
    margin: 7px 12px 1px 12px ;
    float: left;

}

.recherche-boxer .normal-btn {  
     width: 100px;
     margin-left: -3px;
     height: 34px;
     right: 0;
     background: #0065FC;
     border: none;
     color: white;
     font-weight: 700;
     border-radius: 0px 10px 10px 0px;
     cursor: pointer;
     position: absolute;
}


.recherche-boxer .recherche-input {
   width: calc(100%  - 45%);
   height: 33px;
   margin: auto;
    border: none;
    outline: none;
}


/* ****************START FILTRES**************** */
.filtres {
   display: flex;
   display: none;
   margin-top: 20px;
   width: 100%;
   height: auto;
   max-width: 992px;
   font-weight: 800;
   font-size: 10pt;
}

.filtres li {
    display: inline;
    padding: 7px;
    border: 1px solid #d4d4d4;
    border-radius: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.fa-solid {
    padding: 10px;
    border-radius: 50%;
    position: relative;
    right: 11px;
    z-index: 2;
    background-color:#DEEBFF;
    color: #0065FC;
    font-size: 11pt;
}

.no-span {
    display: flex;
    align-items: center;
    color: rgb(63, 63, 63);
    
}

/* ****************START TEXT PLUS**************** */
.text-plus {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.info-i {
    border-radius: 50%;
    font-size: 15px;
    color: #0065FC;
    padding: 0.9px;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid #d4d4d4;
}

.text-i {
    font-size: 11pt;
    margin-left:7px;
    font-weight: 500;
    color: black;
   
}

/* START hebergement */


.articles-text {
    width:  992px;
    margin: 0 auto;
}
/* ****************START FILTRES**************** */

#filtres {
    width: 100%;
    max-width: 992px;
    margin: auto;
}


.filtres-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-items: flex-start;
}

.fbb ,  .filtres-btn p {
    border: 1px solid black;
    margin-right: 20px;
}

/* ****************START HEBERGEMENTS**************** */
#hebergements {
    width: 98%;
    max-width:  992px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
 
}

.top-article {
    display: flex;
    width: 100%;
}

.article-heberge {
    width: 75%;
    background: #F2F2F2;
    border-radius: 20px;
}

.article-heberge h2 {
    margin-top: 30px;
    margin-left: 18px;
    word-wrap: break-word;
    color: rgb(63, 63, 63);
    font-size: 18px;
    font-weight: 700;
}

.boxers-one {
    width: 98%;
    max-width: 990px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.boxers-one > div {
    width: 100%;
    margin: 0 0 20px 20px;
    max-width: 180px;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: white;
    padding: 11px; 
    box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
    -webkit-box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
    -moz-box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
}

.boxers-one > div:hover {
    transition: 0.3s linear;
    transform: scale(1.15);
}

.img-one:hover , .img-two:hover , .img-three:hover {
    transition: 0.3s linear;
    transform: scale(1.15);
}



.boxers-one div a {
    text-decoration: none;
    color: black;
}

.aside {
    padding: 10px;
    width: 30%;
    background: #F2F2F2;
    border-radius: 20px;
    margin-left: 15px;

}

.title-aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-aside .fa-star {
    font-size: 15px;
    margin-right: 10px;
    color: rgb(63, 63, 63);
}

.aside h2 {
    margin-top: 20px;
    color: rgb(63, 63, 63);
    font-size: 18px;
    font-weight: 700;
}


.boxers-one img{
    height: 110px;
    width: 100%;
    max-width: 260px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.boxers-two img {
    height: 110px;
    max-width: 100px;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    padding: 5px;
}

.boxers-two a {
    text-decoration: none;
    word-wrap: break-word;
    color: black;
}

.one-boxs {
    margin: auto;
    width: 20px;
    background-color: white;
    display: flex;
}



.stars-two {
    display: flex;
    margin: 40px 0 6px 6px;
}

.img-one , .img-two , .img-three{
    background-color: white;
    display: flex;
    width: 100%;
    max-width: 270px;
    min-width: 250px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
    -webkit-box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
    -moz-box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
}

.img-three img {
    width: 130px;
}


.text-i p , h3 {
    font-size: 8pt;
    margin-left: 5px;
    word-wrap: break-word;
}



.fa-star {
    font-size: 7pt;
    color: #0065FC;
}

.gri {
    color: #d4d4d4;
}

.txt-1 {
    line-height: 6px;
}

.txt-1 h3 , p  {
    margin-left: 5px;
}
.txt-1 p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.stars {
    margin: 0 0 6px 6px;
    display: flex;
}

.aff {
    text-decoration: none;
    margin-top: 10px;
    margin-left: 20px;
    width: 100%;
    max-width: 70%;
  
}

.aff a {
    
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    color: #000000;
    font-weight: 800;
    text-decoration: none;
}
/* ****************START ACTIVITE**************** */

#activite {
    width: 100%;
    max-width: 992px;
    margin: auto;
    margin-bottom: 40px;
}

#activite h2:nth-child(1){
    color: rgb(63, 63, 63);
    font-size: 18px;
    font-weight: 700;
}

.activite-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box-one , .box-four{
    border: none;
    border-radius: 20px;
    width: 23.5%;
    height: 390px;
    border: 1px solid #d4d4d4;
    box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
    -webkit-box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
    -moz-box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);

}

.box-four {
    margin-left: 20px;
}

.activite-container h2 {
    margin-left: 10px;
    font-size: 13px;
    color: #000000;
}

.box-one img , .box-four img {
    width: 100%;
    height: 350px;
    border-radius: 20px 20px 0px 0 ;
    object-fit:cover ;
}


.box-container{
    width: 23.2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
    object-fit: cover;
}

.box-two img  { 
    width: 100%;
    height: 160px;
    border-radius: 20px 20px 0px 0 ;
    object-fit: cover;
}

.box-three img{
    width: 100%;
    height: 100px;
    border-radius: 20px 20px 0px 0 ;
    object-fit: cover;   
    box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
    -webkit-box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
    -moz-box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75); 
}

.box-two {
    width: 100%;
    border: 1px solid #d4d4d4;
    border-radius: 20px 20px 20px 20px ;
    margin-bottom: 20px;
    box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
    -webkit-box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
    -moz-box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
}

.box-three {
    width: 100%;
    border: 1px solid #d4d4d4;
    border-radius: 20px 20px 20px 20px ;
    margin-top: 25px;
    box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
    -webkit-box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
    -moz-box-shadow: -2px 10px 26px 0px rgba(201,201,201,0.75);
}






/* ****************START FOOTER**************** */


footer {
    width: 100%;
    background: #F2F2F2;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #5c5c5c;
    line-height: 1.5;
}


#footer-end ul {
    list-style: none;
    text-decoration: none;
    font-size: 10pt;
}

#footer-end h2 {
    font-size: 10pt;
}

#footer-end a {
    text-decoration: none;
    line-height: 1.9;
    color: #5c5c5c;
}

.container-footer {
    margin: auto;
    width: 100%;
    max-width: 992px;
    display: flex;
    flex-wrap: wrap;
}

.propos , .hebergements , .assistence {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-right: 100px;

}